<section class="sy8-margin-bottom-xl">
  <div class="sy8-container sy8-max-width-sm">
    <article class="sy8-article sy8-text-component">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odit ea aliquid reiciendis eum quo eligendi sapiente molestiae recusandae autem dolore cupiditate dicta enim illo, dolorem accusamus doloremque! Facere, nisi quam dolorum quo. Laborum, nam maiores ad sapiente quo ipsam obcaecati, consectetur alias nostrum omnis quasi repellat dolore soluta quod laboriosam error. Consequuntur nam assumenda quam eius, obcaecati culpa asperiores! Earum eos numquam laudantium amet aut possimus laborum vero dolores inventore quis laboriosam, maxime quam commodi, illo praesentium voluptates mollitia corporis dolorem nemo, suscipit. Nemo laborum eveniet in nam quidem minus deleniti ab, adipisci beatae. Recusandae amet possimus praesentium repellat consequatur ea pariatur reiciendis inventore officiis assumenda nobis voluptate, enim tempore tempora esse ex vero animi beatae cum, velit eaque. Cumque omnis nesciunt non. Cum, expedita quibusdam odit ut aspernatur perspiciatis ratione voluptates quaerat, nam consequatur vero minima ipsam omnis? Impedit esse accusantium natus veritatis doloremque aspernatur deleniti odit vel quo, sint expedita dolores, odio explicabo atque minima enim reiciendis, voluptatibus ad iste voluptas sapiente provident, optio nam eligendi consequatur! Repudiandae, quibusdam, et aspernatur perspiciatis nihil maxime aliquid eveniet sint totam sapiente voluptate, officiis ut distinctio, eius tempora fuga repellat modi dolorum.</p>
    </article>
  </div>
</section>

<section class="sticky-hero sticky-hero--scale sy8-margin-bottom-xl js-sticky-hero">
  <div class="sticky-hero__media" style="background-image:url('https://cdn.shopify.com/s/files/1/0595/1619/0852/files/Solerno_Collection_Heated.png?v=1706114620')" aria-hidden="true"></div>
  <div class="sticky-hero__content">
    <div class="sy8-container sy8-max-width-sm sy8-text-component">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor expedita sequi nostrum quibusdam possimus, vero aliquam ut debitis illum optio alias veniam error voluptatum.</p>
    </div>
  </div>
</section>

<section>
  <div class="sy8-container sy8-max-width-sm">
    <article class="sy8-article sy8-text-component">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odit ea aliquid reiciendis eum quo eligendi sapiente molestiae recusandae autem dolore cupiditate dicta enim illo, dolorem accusamus doloremque! Facere, nisi quam dolorum quo. Laborum, nam maiores ad sapiente quo ipsam obcaecati, consectetur alias nostrum omnis quasi repellat dolore soluta quod laboriosam error. Consequuntur nam assumenda quam eius, obcaecati culpa asperiores! Earum eos numquam laudantium amet aut possimus laborum vero dolores inventore quis laboriosam, maxime quam commodi, illo praesentium voluptates mollitia corporis dolorem nemo, suscipit. Nemo laborum eveniet in nam quidem minus deleniti ab, adipisci beatae. Recusandae amet possimus praesentium repellat consequatur ea pariatur reiciendis inventore officiis assumenda nobis voluptate, enim tempore tempora esse ex vero animi beatae cum, velit eaque. Cumque omnis nesciunt non. Cum, expedita quibusdam odit ut aspernatur perspiciatis ratione voluptates quaerat, nam consequatur vero minima ipsam omnis? Impedit esse accusantium natus veritatis doloremque aspernatur deleniti odit vel quo, sint expedita dolores, odio explicabo atque minima enim reiciendis, voluptatibus ad iste voluptas sapiente provident, optio nam eligendi consequatur! Repudiandae, quibusdam, et aspernatur perspiciatis nihil maxime aliquid eveniet sint totam sapiente voluptate, officiis ut distinctio, eius tempora fuga repellat modi dolorum.</p>
    </article>
  </div>
</section>

<style>/* -------------------------------- 

File#: _1_sticky-hero
Title: Sticky Hero
Descr: A sticky hero section that reveals its content on scroll
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --sy8-color-primary-hsl: 250, 84%, 54%;
  --sy8-color-bg-hsl: 0, 0%, 100%;
  --sy8-color-contrast-high-hsl: 230, 7%, 23%;
  --sy8-color-contrast-higher-hsl: 230, 13%, 9%;
  --sy8-color-accent-hsl: 342, 89%, 48%;
  --sy8-color-contrast-lower-hsl: 240, 4%, 85%;

  /* spacing */
  --sy8-space-md: 1.25rem;
  --sy8-space-xl: 3.25rem;
  --sy8-space-sm: 0.75rem;
  --sy8-space-xs: 0.5rem;

  /* typography */
  --sy8-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --sy8-space-md: 2rem;
    --sy8-space-xl: 5.125rem;
    --sy8-space-sm: 1.125rem;
    --sy8-space-xs: 0.75rem;

    /* typography */
    --sy8-text-sm: 1rem;
  }
}

/* component */
.sticky-hero {
  position: relative;
  z-index: 1;
}

.sticky-hero__media {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.sticky-hero--overlay-layer .sticky-hero__media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: hsl(var(--sy8-color-bg-hsl));
  transition: opacity 1s;
}

.sticky-hero--media-is-fixed.sticky-hero--overlay-layer .sticky-hero__media::after {
  opacity: 0.65;
}

.sticky-hero--media-is-fixed.sticky-hero--scale .sticky-hero__media {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.sticky-hero__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.sticky-hero__video video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  max-width: none;
}

.sticky-hero__content {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* utility classes */
.sy8-text-component :where(h1, h2, h3, h4) {
  line-height: var(--sy8-heading-line-height, 1.2);
  margin-top: calc(var(--sy8-space-md) * var(--sy8-space-multiplier, 1));
  margin-bottom: calc(var(--sy8-space-sm) * var(--sy8-space-multiplier, 1));
}

.sy8-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--sy8-body-line-height, 1.4);
}

.sy8-text-component :where(ul, ol, p, blockquote, .sy8-text-component__block) {
  margin-bottom: calc(var(--sy8-space-sm) * var(--sy8-space-multiplier, 1));
}

.sy8-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.sy8-text-component ul :where(ul, ol), .sy8-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.sy8-text-component ul {
  list-style-type: disc;
}

.sy8-text-component ol {
  list-style-type: decimal;
}

.sy8-text-component img {
  display: block;
  margin: 0 auto;
}

.sy8-text-component figcaption {
  margin-top: calc(var(--sy8-space-xs) * var(--sy8-space-multiplier, 1));
  font-size: var(--sy8-text-sm);
  text-align: center;}

.sy8-text-component em {
  font-style: italic;
}

.sy8-text-component strong {
  font-weight: bold;
}

.sy8-text-component s {
  text-decoration: line-through;
}

.sy8-text-component u {
  text-decoration: underline;
}

.sy8-text-component mark {
  background-color: hsla(var(--sy8-color-accent-hsl), 0.2);
  color: inherit;
}

.sy8-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--sy8-color-contrast-lower-hsl));
  font-style: italic;
}

.sy8-text-component hr {
  margin: calc(var(--sy8-space-md) * var(--sy8-space-multiplier, 1)) auto;
  background: hsl(var(--sy8-color-contrast-lower-hsl));
  height: 1px;
}

.sy8-text-component > *:first-child {
  margin-top: 0;
}

.sy8-text-component > *:last-child {
  margin-bottom: 0;
}

.sy8-text-component.sy8-line-height-xs {
  --sy8-heading-line-height: 1;
  --sy8-body-line-height: 1.1;
}

.sy8-text-component.sy8-line-height-sm {
  --sy8-heading-line-height: 1.1;
  --sy8-body-line-height: 1.2;
}

.sy8-text-component.sy8-line-height-md {
  --sy8-heading-line-height: 1.15;
  --sy8-body-line-height: 1.4;
}

.sy8-text-component.sy8-line-height-lg {
  --sy8-heading-line-height: 1.22;
  --sy8-body-line-height: 1.58;
}

.sy8-text-component.sy8-line-height-xl {
  --sy8-heading-line-height: 1.3;
  --sy8-body-line-height: 1.72;
}

.sy8-article {
  --sy8-heading-line-height: 1.22;
  --sy8-body-line-height: 1.66;
  --sy8-space-multiplier: 1.2;
}

.sy8-max-width-sm {
  max-width: 48rem;
}

.sy8-container {
  width: calc(100% - 2*var(--sy8-space-md));
  margin-left: auto;
  margin-right: auto;
}

.sy8-margin-bottom-xl {
  margin-bottom: var(--sy8-space-xl);
}

.sy8-text-center {
  text-align: center;
}</style>

<script>// utility functions
if(!Util) function Util () {};

Util.hasClass = function(el, className) {
  return el.classList.contains(className);
};

Util.addClass = function(el, className) {
  var classList = className.split(' ');
  el.classList.add(classList[0]);
  if (classList.length > 1) Util.addClass(el, classList.slice(1).join(' '));
};

Util.removeClass = function(el, className) {
  var classList = className.split(' ');
  el.classList.remove(classList[0]);
  if (classList.length > 1) Util.removeClass(el, classList.slice(1).join(' '));
};

Util.toggleClass = function(el, className, bool) {
  if(bool) Util.addClass(el, className);
  else Util.removeClass(el, className);
};

// File#: _1_sticky-hero
// Usage: codyhouse.co/license
(function() {
	var StickyBackground = function(element) {
		this.element = element;
		this.scrollingElement = this.element.getElementsByClassName('sticky-hero__content')[0];
		this.nextElement = this.element.nextElementSibling;
		this.scrollingTreshold = 0;
		this.nextTreshold = 0;
		initStickyEffect(this);
	};

	function initStickyEffect(element) {
		var observer = new IntersectionObserver(stickyCallback.bind(element), { threshold: [0, 0.1, 1] });
		observer.observe(element.scrollingElement);
		if(element.nextElement) observer.observe(element.nextElement);
	};

	function stickyCallback(entries, observer) {
		var threshold = entries[0].intersectionRatio.toFixed(1);
		(entries[0].target ==  this.scrollingElement)
			? this.scrollingTreshold = threshold
			: this.nextTreshold = threshold;

		Util.toggleClass(this.element, 'sticky-hero--media-is-fixed', (this.nextTreshold > 0 || this.scrollingTreshold > 0));
	};


	var stickyBackground = document.getElementsByClassName('js-sticky-hero'),
		intersectionObserverSupported = ('IntersectionObserver' in window && 'IntersectionObserverEntry' in window && 'intersectionRatio' in window.IntersectionObserverEntry.prototype);
	if(stickyBackground.length > 0 && intersectionObserverSupported) { // if IntersectionObserver is not supported, animations won't be triggeres
		for(var i = 0; i < stickyBackground.length; i++) {
			(function(i){ // if animations are enabled -> init the StickyBackground object
        if( Util.hasClass(stickyBackground[i], 'sticky-hero--overlay-layer') || Util.hasClass(stickyBackground[i], 'sticky-hero--scale')) new StickyBackground(stickyBackground[i]);
      })(i);
		}
	}
}());</script>